<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTrack | Caregivers</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../css/app.css">
</head>
<body>

<section class="module-body">
    <div id="navbar"></div>

    <div class="module-content">
        <div class="module-title-wrapper">
            <h1 class="h3">My Caregivers</h1>
        </div>

        <div class="module-content-wrapper-2-col">
            <!-- Caregivers List -->
            <div class="module-content-box">
                <div class="title">
                    <h4>Caregivers List</h4>
                </div>
                <div id="caregivers-list" class="medication-cards-wrapper">
                    <!-- JavaScript will populate this -->
                </div>
            </div>

            <!-- Add / Edit Caregiver -->
            <div class="module-content-box">
                <div class="title">
                    <h4>Add / Edit Caregiver</h4>
                </div>
                <div class="medication-cards-wrapper">
                    <div class="form-wrapper" style="margin-top: 0px;">
                        <form id="caregiverForm">
                            <input type="hidden" name="userId" id="userId" value="68200f0c449e4521536a9f61">
                            <input type="hidden" id="caregiverId" value=""> <!-- used for edit -->

                            <div class="input-field">
                                <input name="firstName" placeholder="First Name" id="firstName" type="text" class="validate" required>
                            </div>

                            <div class="input-field">
                                <input name="lastName" placeholder="Last Name" id="lastName" type="text" class="validate" required>
                            </div>

                            <div class="input-field">
                                <input name="email" placeholder="Email" id="email" type="email" class="validate" required>
                            </div>

                            <div class="input-field">
                                <input name="contactNumber" placeholder="Contact Number" id="contactNumber" type="tel" class="validate" required>
                            </div>

                            <div class="btn-wrapper">
                                <button type="submit" class="btn btn-primary">Submit</button>
                                <button type="reset" class="btn-reset" onclick="clearForm()">Reset</button>
                            </div>

                            <div id="error-message" class="error-text" style="color: red; margin-top: 10px;"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- JS -->
<script src="../js/nav-bar.js"></script>
<script src="../js/caregiver-scripts.js"></script>
</body>
</html>
