<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MedTrack</title>
    <meta name="description" content="MedTrack Web App - Dashboard">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="MedTrack">
    <meta property="og:type" content="website">
    <meta property="og:description" content="MedTrack Web App">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Style Sheet-->
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <section class = "module-body">
        <div id="navbar"></div>
        <div class = "module-content">
            <div class = "module-title-wrapper">
                <h1 class = "h3">
                    User Dashboard
                </h1>
            </div>
            <div class = "module-content-wrapper">
                <div class = "module-content-box">
                    <div class = "title">
                        <h4>Upcoming Medications</h4>
                    </div>
                    <div class = "medication-cards-wrapper" id = "upcoming">
                        <!-- <div class = "medication-card">
                            <div class = "medication-card-title">
                                <h5>Title Goes Here</h5>
                                <h5>Time goes here</h5>
                            </div>
                            <div class = "medication-card-description">
                                <p>description goes here</p>
                            </div>
                            <div class = "medication-card-buttons">
                                <img src = "../images/taken.svg" alt = "Taken">
                                <img src = "../images/missed.svg" alt = "Missed" >
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class = "module-content-box">
                    <div class = "title">
                        <h4>Recent Medications</h4>
                    </div>
                     <div class = "medication-cards-wrapper" id = "recent">
                        
                    </div>
                </div>
                <div class = "module-content-box">
                    <div class = "title">
                        <h4>Missed Medications</h4>
                    </div>
                     <div class = "medication-cards-wrapper" id = "missed">
                        
                    </div>
                </div>
            </div>
        </div>
    </section>


    <script src="../js/nav-bar.js"></script>
    <script src="../js/scripts.js"></script>
</body>

</html>