<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MedTrack</title>
    <meta name="description" content="MedTrack Web App - Dashboard">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="MedTrack">
    <meta property="og:type" content="website">
    <meta property="og:description" content="MedTrack Web App">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Style Sheet-->
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <section class = "module-body">
        <div id="navbar"></div>
        <div class = "module-content"></div>
    </section>


    <script src="../js/nav-bar.js"></script>
</body>

</html>