<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MedTrack</title>
    <meta name="description" content="MedTrack Web App">
    <meta name="author" content="SitePoint">
    <meta property="og:title" content="MedTrack">
    <meta property="og:type" content="website">
    <meta property="og:description" content="MedTrack Web App">
    <!-- Compiled and minified CSS -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Custom Style Sheet-->
    <link rel="stylesheet" href="../css/app.css">
</head>

<body>
    <section class="registration-form-section">
        <div class="registration-form-container">
            <div class="title-area">
                <div class="title-wrapper">
                    <h3 class="text-primary">Register</h3>
                </div>
                <div class="logo-wrapper">
                    <img src="../images/logo.png" alt="Logo">
                </div>
            </div>
            <div class="form-wrapper">
                <form id="registrationForm" action="/register" method="POST">
                    <div class="input-field">
                        <input name="firstName" placeholder="First Name" id="firstName" type="text" class="validate" required>
                    </div>
                    <div class="input-field">
                        <input name="lastName" placeholder="Last Name" id="lastName" type="text" class="validate" required>
                    </div>
                    <div class="two-col-block">
                        <div class="input-field">
                            <input name = "dob" placeholder="Date of Birth" id="dob" type="text" onfocus="(this.type='date')" class="validate">
                        </div>
                        <div class="input-field">
                            <select name="gender" id="gender" class="validate" required>
                                <option value="" disabled selected hidden >Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="two-col-block">
                        <div class="input-field">
                            <input name="email" placeholder="Email" id="email" type="email" class="validate" required>
                        </div>
                        <div class="input-field">
                            <input name="contactNumber" placeholder="Contact Number" id="contactNumber" type="tel" class="validate" required>
                        </div>
                    </div>
                    <div class="two-col-block">
                        <div class="input-field">
                            <input name="password" placeholder="Password" id="password" type="password" class="validate" required>
                        </div>
                        <div class="input-field">
                            <input name="confirmPassword" placeholder="Confirm Password" id="confirmPassword" type="password" class="validate" required>
                        </div>
                    </div>
                    <div class="btn-wrapper">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <button type="reset" class="btn-reset">Reset</button>
                    </div>
                </form>
                <div id="error-message" class="error-text" style="color: red; margin-bottom: 10px;"></div>

            </div>
        </div>
    </section>

    <script src="../js/scripts.js"></script>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');
      
        if (error) {
          document.getElementById('error-message').innerText = decodeURIComponent(error);
        }
      </script>
</body>

</html>