:root {
    --primary: #00446E;
    --white: #fff;
    --black: #000;
    --off-white: #F5F5F5;
    --grey: #5C5C5C;
}


body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Inter', sans-serif;
    color: var(--black);
    font-weight: 400;
    font-size: 1.25vw;
    line-height: 150%;
    background: linear-gradient(270deg, #E8FFFC 0%, #C0FFF8 100%);

}

@media screen and (max-width: 750px) {
    body {
        line-height: 30px;
    }
}

@media screen and (min-width:1280px) {
    body {
        font-size: 16px;
    }
}

@media screen and (max-width:991px) {
    body {
        font-size: 16px;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.text-primary {
    color: var(--primary)
}

h1,
.h1 {
    line-height: 140%;
    margin: 0;
    font-size: 2.5em;
    font-weight: 600;
}

@media screen and (min-width:1280px) {

    h1,
    .h1 {
        font-size: 40px;
    }
}

@media screen and (max-width:660px) {

    h1,
    .h1 {
        font-size: 32px;
    }
}

h3,
.h3 {
    line-height: 140%;
    margin: 0;
    font-size: 32px;
    font-weight: 600;
}

@media screen and (min-width:1280px) {

    h3,
    .h3 {
        font-size: 32px;
    }
}

@media screen and (max-width:660px) {

    h3,
    .h3 {
        font-size: 26px;
    }
}

h4,
.h4 {
    line-height: 120%;
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

@media screen and (min-width:1280px) {

    h4,
    .h4 {
        font-size: 24px;
    }
}

@media screen and (max-width:660px) {

    h4,
    .h4 {
        font-size: 20px;
    }
}

p {
    margin: 0;
}

.two-col-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

input, select {
    margin: 0 !important;
    width: 100%;
    border: 0;
    border-bottom: 1px solid #00446E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1rem;
    width: -webkit-fill-available;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    gap: 1rem;
    align-items: center;
}

.btn {
    padding: 12px 14px 12px 14px;
    justify-content: center;
    align-items: center;
    border-radius: 11px;
    cursor: pointer;
    border: none;
    text-decoration: none;
}

.btn-primary {  
    background: #00446E;
    color: var(--white);
}

.btn-reset {
    color: var(--grey);
    cursor: pointer;
    border: none;
    text-decoration: none;
    background-color: transparent;
}

/* registration form styles */

.registration-form-section {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registration-form-container {
    width: 500px;
    flex-shrink: 0;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 4px 4px 25px 0px rgba(0, 0, 0, 0.15);
    padding: 2em;
}

.title-area {
    display: flex;
    justify-content: space-between;
}

.logo-wrapper {
    width: auto;
    height: 72px;
}

.logo-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.title-wrapper {
    display: flex;
    align-items: flex-end;
}

.title-wrapper h3 {
    line-height: 1;
}

.form-wrapper {
    margin-top: 2rem;
}